.page{
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags{
        bottom: auto;
        top: 35px;
}


.tags{
    color:#ffd;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore',sans-serif;
}

@media (max-width:768px){
    .page{
        left: 50px;
    }
}

.bottom-tags{
    top: auto;
    bottom: 35px;
}


.container{
    width: 100%;
    will-change:contents;
    height:90%;
    position: absolute;
    opacity: 0;
    // top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.about-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }
    h1{
        font-size: 53px;
        color: #ff7;
        font-weight: 400;
        margin-top: 0;
        letter-spacing: 1px;
        margin-bottom: 40px;
        left: 10px;
        font-family: 'Coolvetica',sans-serif;
    }
    p{
        font-style: 13px;
        color: #bbb;
        font-family: 'Coolvetica',sans-serif;
        min-width: fit-content;
        font-weight: 300;
        animation: pulse 1s;
    }
    &:nth-of-type(1){
        animation-delay: 1.1s;
    }
    &:nth-of-type(2){
        animation-delay: 1.2s;
    }
    &:nth-of-type(3){
        animation-delay: 1.3s;
    }
}
.contact-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }
}
.rightSide{
    width:50vw;
    height:100vh;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.1);
    float: right;
    background-color: #135274;
    overflow: hidden;
    mix-blend-mode: exclusion;
}
.rightSideImgContainer{
    width: 30vw;
    height: 30vh;
}
@media (max-width:768px) {
    .rightSide{
        width:0;
    }
}